div {
    border-color: black;
    border: 3px solid;
}
span {
    border-color: blue;
    /* border: 3px solid; */
    display: inline-block;
}
#container {
    width: 70%;
    height: 100%;
    margin:auto;
    border: 3px solid;
    min-width: 500px;
}
#safe {
    border: 3px solid;
}
#takeSpace {
    width: 40%;
    border-color: blue;
}
.button {
    font-size: 50px;
    width: 30%;
    height:inherit;
    border-style: solid;
    margin: 1%;
    padding: 0%;
    overflow: hidden;
    line-height: 180px;
    vertical-align: middle;
    text-align:center;
    aspect-ratio: 4/3;
}
#button1 {
    float: inline-start;
}
#button2 {
    float:left;
}
#button3 {
    float: left;
    white-space: nowrap;
}
#clearButton {
    font-size: 100%;
    width: 50%;
    line-height: 55px;
    aspect-ratio: 5/1;
}
#containButton { 
    width: 58%;
    padding: 0%;
    height: 100%;
    margin:0%;
}
#containGuess {
    margin: 1%;
}