div {
    border-color: black;
    border: 3px solid;
}
span {
    border-color: blue;
    /* border: 3px solid; */
    display: inline-block;
}
#container {
    width: 60%;
    height: 100%;
    margin:auto;
    border: 3px solid;
}
#safe {
    border: 3px solid;
}
#takeSpace {
    width: 40%;
    border-color: blue;
}
.button {
    width: 18%;
    height: 100%;
    aspect-ratio: 1/1;
    margin:0%
}
#containButton {
    width: 58%;
    margin:0%;
}
.containButtons {
    width: 100%;
    height: 100px;
    margin:0%;
}